
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Areas/Inventory/Views/Shared/_Inventory.cshtml";
}
<link href="~/Content/inventoryStyle.css" rel="stylesheet" />
<h2>@ViewBag.Title</h2>
<section class="py-5 text-center back">
    <div class="row py-lg-5 ">
        <div class="mx-auto">
            <h1 class="fw-dark">Michael Bourlotos</h1>
            <p class="lead fw-dark ">Inventory Area with Views for the Home Page, About, and Contact.</p>
            <p>
                @Html.ActionLink(HttpUtility.HtmlDecode("School &raquo;"), "Index", "SchoolHome", new { area = "School" }, new { @class = "btn btn-warning" })
                @Html.ActionLink(HttpUtility.HtmlDecode("Inventory &raquo;"), "Index", "InventoryHome", new { area = "Inventory" }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</section>
