@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}
<h2>@("Hello: " + User.Identity.GetUserName() + " - Inventory Access Granted !")</h2>

